<nav class="navbar navbar-expand-lg navStyle">
    <div class="container-fluid">
        <a class="brand-navbar" href="#"><img src="/images/favicon.png" alt="Responsive image"
                                              width="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-align-right iconStyle"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start dir-rtl" id="mainMenu">
            <ul class="navbar-nav ml-auto navList">
                <li class="nav-item active"><a href="/company/all" class="nav-link"><i class="fas fa-home"></i>Home<span
                                class="visually-hidden">(current)</span></a></li>
                <li class="nav-item">
                    <a href="services.html" class="nav-link"><i class="fas fa-building"></i>Companies</a>
                </li>
                <li class="nav-item">
                    <a href="portfolio.html" class="nav-link"><i class="fas fa-user-tie"></i>Employees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
