<% data = typeof data !== "undefined" ? data : {} %>
<!-- include styles and scripts and meta tags -->
<%- include("./partials/head") %>
<!-- include navbar -->
<%- include("./partials/nav") %>
<!-- include page and send data -->
<div class="container mt-4" style="height: 80vh">
    <%- include(`./pages/${page}`, {data}) %>
</div>
<!-- toast notification -->
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<!-- include scripts and maybe a footer -->
<%- include("./partials/footer") %>
